* {
    box-sizing: border-box;
  }

body{
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    background-color: rgb(0, 0, 0);
    margin:0;
}

  /***************************************
  
  *****************************************/

header{
    padding: 20px 10px 10px 10px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(0, 0, 0);
    width: 100%;
    /* position: fixed; */
    z-index: 1;
    border-bottom: 1px solid rgb(49, 49, 49);
    overflow: hidden;
}
.team-header{
    display: grid;
    grid-template-columns: 1fr 2fr;

}

.nav {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: black;
}
.nav ul{
    list-style-type: none;
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding: 15px 0;
    margin: 0;
}

.nav li{
    margin-right:40px
}

.nav a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}


main{
    padding: 60px 10px 80px 10px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    font-weight: 100;
    width: 100%;
    overflow: hidden;
}

main img{
    width: 15px;
}

#aboutme{
    padding-top: 20px;
    padding-right: 140px;
    font-size: larger;
}

#me{
    scroll-margin-top: 1000px;
}

.larger-font{
    font-size:x-large;
}

#jobs {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px 10px;
}

.small{
    font-size: 0.7em;
    font-weight: 400;
    color: rgb(117, 117, 117);
}

#jobs p {
    margin: 0;
}

#projects {
    padding-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px 50px;
    padding-bottom: 40px;
}

#projects img {
    width: 100%;
    margin: auto auto;
    border: 10px solid rgb(255, 255, 255);
}   

.tech {
    text-decoration: underline;
    text-decoration-color: rgb(18, 217, 147);
}

.parallax {
    background-image: url("../images/hikecrop.jpg");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    
}

.hike{
    width: 100%;
    opacity: 0;
}

.top div{
    /* height: 300px; */
    background-color: rgba(0, 0, 0, .5);
}

.wrapper {
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

footer {
    margin-top:40px;
}

.project, .connect{
    padding: 20px 10px 10px 10px;
    border-bottom: 1px solid rgb(49, 49, 49);
}

.connect-content{
    padding: 20px 40px 50px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px 10px;  
    margin-top: 20px;  
}

.icons{
    text-align: right;
}

.icons a{
    color: white;
}

.icons a:hover{
    color:rgb(18, 217, 147);
}

.icons i{
    font-size: 2.5em;
    /* padding-left: 20px; */
    padding-right: 20px;
}
.fa-linkedin{
    padding-right: 20px;
}

.underline-hover-effect {
    display: inline-block;
    padding-bottom: 0.25rem; /* defines the space between text and underline */
    position: relative;
  }
  
  .underline-hover-effect::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: rgb(18, 217, 147);
    transition: width 0.25s ease-out;
  }
  .underline-hover-effect:hover::before {
    width: 100%;
  }

  .fa-copy{
    color: rgba(255, 255, 255, 0.3);
  }

  #copyPopup {
    display: none;
    transform: translate(80%, 10%);
    font-size: small;
    background-color: rgba(18, 217, 147, .8);
    color: black;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 120px;
    text-align: center;
}

.highlight{
    background-color: rgba(18, 217, 147, .18);
}