* {
    box-sizing: border-box;
  }

body{
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    background-color: rgb(0, 0, 0);
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 60px;
}

  /***************************************
  
  *****************************************/

header{
    padding: 20px 10px 10px 10px;
    display:grid;
    grid-template-columns: 3fr 1fr 2fr;
    background-color: rgb(0, 0, 0);
    width: 100%;
    position: fixed;
    z-index: 1;
    border-bottom: 1px solid rgb(49, 49, 49);
}

main{
    padding: 60px 10px 80px 10px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    font-weight: 100;
    width: 100%;
}

main img{
    width: 15px;
}

#aboutme{
    padding-top: 20px;
    padding-right: 140px;
}

#jobs {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px 10px;
}

.small{
    font-size: 0.7em;
    font-weight: 400;
    color: rgb(117, 117, 117);
}

#jobs p {
    margin: 0;
}

#projects {
    padding-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px 50px;
}

#projects img {
    width: 100%;
    margin: auto auto;
    border: 10px solid rgb(255, 255, 255);
}   

.tech {
    text-decoration: underline;
    text-decoration-color: rgb(18, 217, 147);
}

.parallax {
    /* The image used */
    background-image: url("../images/DSC11_449.jpg");
  
    /* margin-top: 60px; */
    /* Set a specific height */
    height: 55vh; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  .wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
  }

  .hike{
    width: 100%;
  }

  /* tablet */
@media (min-width: 1420px) and (max-width: 1563px){
    .parallax {
        height: 50vh; 
      }
}
@media (min-width: 1200px) and (max-width: 1419px){
    .parallax {
        height: 40vh; 
      }
}
@media (min-width: 1186px) and (max-width: 1199px){
    .parallax {
        height: 40vh; 
      }
}
@media (min-width: 929px) and (max-width: 1185px){
    .parallax {
        height: 35vh; 
      }
}
@media (max-width: 928px){
    .parallax {
        height: 30vh; 
      }
}